@font-face {
	font-family: 'Loki Cola';
	src: url("./loki_cola/LOKICOLA.TTF"), format("TTF");
}

html,
body {
    margin: 0;
    padding: 0;
    user-select: none;
    touch-action: manipulation;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #eee;
}

body{
    background-image: url("soda.jpg");
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-size: cover;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: red 2px solid; */
}

.counter-container {
    background-color: #111111;
    max-width: 60vw;
    padding: 2em;
    border: 5px solid #fe001a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Loki Cola', Arial, sans-serif;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: #eee;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 5px;
}

#increment-btn {
    background: #2C2891;
}

#save-btn {
    background: #1C7947;
}

#save-el {
    max-width: 90vw;
}