/* Todo: responsible design, optimize for mobile phone browser */
body {
    background-image: url("soda.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    height: 100vh;
}

.container {
    background-color: black;
    width: 70%;
    height: 70%;
    margin: 20px auto;
    border: 3px solid red;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    margin: 40px auto;
}

h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 40px;
}

button {
    font-weight: bold;
    width: 200px;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#increment-btn {
    background: #2C2891;
}

#save-btn {
    background: #1C7947;
}

#save-el {
    font-weight: bold;
}